.home-root {
    display: flex;
    flex-direction: row;
}

.home-sidebar {
    width: 8%;
}

.home-main {
    width: 92%;
}

@media screen and (max-width: 900px) {
    .home-sidebar {
        width: 15%;
    }
    
    .home-main {
        width: 85%;
    }
}