/* Sidebar */
.sidebar {
    flex: 1;
    min-height: 100vh;
    margin: 0px 0px 0px 0px;
    position: sticky;
    background-color: black;
}

/* Vertical Sidebar */
.vertical-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Sidebar Logo */
.sidebar-logo {
    width: 100%;
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 17px;
}

.sidebar-logo-image {
    cursor: pointer;
}

.sidebar-logo-image {
    transition: transform 0.3s;
}

.sidebar-logo-image:hover {
    animation: moveLeftRight 0.5s ease-in-out infinite; 
}

@keyframes moveLeftRight {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(-5px); } 
}

/* Sidebar Menu - Main */
.sidebar-main-menu {
    width: 100%;
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.animated-div {
    animation: moveLeftRightLogo 0.5s ease-in-out infinite;
}

@keyframes moveLeftRightLogo {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(-5px); }
}

/* Sidebar Menu - Settings */
.sidebar-setting-menu {
    width: 100%;
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (max-width: 900px) {
    .sidebar-main-menu img {
        width: 100%;
    }
    .sidebar-main-menu img {
        width: 100%;
    }
    .sidebar-setting-menu img {
        width: 100%;
    }
}