

.home-root {
    display: flex;
    flex-direction: row;
}

.home-sidebar {
    width: 8%;

}

.home-main {
    width: 92%;
}

/*
.dashboardHome {
    display: flex;
}

.homeContainer {
    flex: 5.5;
}

@media screen and (min-width: 1801px) {
    .homeContainer {
        flex: 8;
    }

} */