.main-units-area {
    width: 100%;
    height: auto;
}

.main-units-area-slider {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.main-first-slider-pos {
    width: 30%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.main-first-slider-pos-head {
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.main-first-slider-pos-head-name {
    font-size: 12px;
}

.main-first-slider-pos-head-option {
    margin-top: -7px;
}

.main-first-slider-pos-pic {
    width: 90%;
    height: auto;
    margin: 10px 0px 0px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-first-slider-pos-pic img {
    width: 99%;
}

.main-first-slider-pos-data {
    width: 90%;
    margin: 18px 0px 20px 0px;
    border-radius: 20px;
    background-color: #18191D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-first-slider-pos-data-row1 {
    background-color: #131417;
    width: 97%;
    height: 5vh;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0px 10px 0px 10px;
    margin-bottom: 2.5px;
    margin-top: 5px;
    font-size: 12px;
}

.main-first-slider-pos-data-row2 {
    background-color: #131417;
    width: 97%;
    height: 5vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
    font-size: 12px;
}

.main-first-slider-pos-data-row3 {
    background-color: #131417;
    width: 97%;
    height: 5vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin-bottom: 5px;
    margin-top: 2.5px;
    font-size: 12px;
}

/* Second Postion Slider */

.main-second-slider-pos {
    border: 1px solid white;
    width: 30%;
    height: 100%;
}

.main-third-slider-pos {
    border: 1px solid white;
    width: 30%;
    height: 100%;

}


/* Buttons */

.main-units-area-btn {
    margin: 20px 30px 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-units-area-btn-inside {
    height: auto;
    width: 20%;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row ;
    padding: 5px 5px 0px 5px;
}

.main-units-area-btn-inside-back {
    cursor: pointer;
}

.main-units-area-btn-inside-forward {
    cursor: pointer;
}